@charset "utf-8";

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#controller {
    height:50vh;
}

.button {
    height:50px;
    width:100px;
    margin: -20px -50px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#w {
    position:relative;
    top:25%;
    left:50%;
}

#s {
    position:relative;
    top:75%;
    left:50%;
}

#a {
    position:relative;
    top:50%;
    left:40%;
}

#d {
    position:relative;
    top:50%;
    left:60%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height:50vh;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
