<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.novoda.monkeytrap"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="com.novoda.monkeytrap.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.novoda.monkeytrap.OverlayService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.novoda.monkeytrap.SHOW_OVERLAY" />
            </intent-filter>
        </service>

    </application>

</manifest>
