<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novoda.defaultsmsapp"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-sdk
    android:minSdkVersion="19"
    android:targetSdkVersion="19" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name="com.novoda.defaultsmsapp.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- BroadcastReceiver that listens for incoming SMS messages -->
    <receiver
      android:name="com.novoda.defaultsmsapp.SmsReceiver"
      android:permission="android.permission.BROADCAST_SMS">
      <intent-filter>
        <action android:name="android.provider.Telephony.SMS_DELIVER" />
      </intent-filter>
    </receiver>

    <!-- BroadcastReceiver that listens for incoming MMS messages -->
    <receiver
      android:name="com.novoda.defaultsmsapp.MmsReceiver"
      android:permission="android.permission.BROADCAST_WAP_PUSH">
      <intent-filter>
        <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

        <data android:mimeType="application/vnd.wap.mms-message" />
      </intent-filter>
    </receiver>

    <!-- Activity that allows the user to send new SMS/MMS messages -->
    <activity android:name="com.novoda.defaultsmsapp.ComposeSmsActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <action android:name="android.intent.action.SENDTO" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="sms" />
        <data android:scheme="smsto" />
        <data android:scheme="mms" />
        <data android:scheme="mmsto" />
      </intent-filter>
    </activity>

    <!-- Service that delivers messages from the phone "quick response" -->
    <service
      android:name=".HeadlessSmsSendService"
      android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:scheme="sms" />
        <data android:scheme="smsto" />
        <data android:scheme="mms" />
        <data android:scheme="mmsto" />
      </intent-filter>
    </service>
  </application>

</manifest>
