<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novoda.androidtv">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="false" />
  <uses-feature
    android:name="android.software.leanback"
    android:required="true" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.Leanback">
    <activity
      android:name=".ContentActivity"
      android:banner="@drawable/app_icon_your_company"
      android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
      android:icon="@drawable/app_icon_your_company"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:logo="@drawable/app_icon_your_company"
      android:resizeableActivity="true"
      android:screenOrientation="landscape"
      android:supportsPictureInPicture="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
    </activity>


  </application>

</manifest>
