.gradle
/local.properties

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
**/.idea/*

# IDEA/Android Studio Ignore exceptions
!/.idea/compiler.xml
!/.idea/encodings.xml
!/.idea/vcs.xml
!/.idea/codeStyles
