<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.novoda.pianohero">

    <application
        android:name=".PianoHeroApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="com.google.android.things"
            android:required="false"
            tools:replace="android:required" />

        <activity android:name=".AndroidThingsActivity" />
        <activity android:name=".hax.HaxActivity" />

        <activity-alias
            android:name=".ThingsLauncher"
            android:targetActivity=".hax.HaxActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

  </application>

</manifest>
