<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.novoda.dungeoncrawler">

  <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />

  <application
    android:largeHeap="true">
    <uses-library
      android:name="com.google.android.things"
      android:required="true" />

    <activity android:name=".MainActivity">
      <!-- Launch activity as default from Android Studio -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- Launch activity automatically on boot, and re-launch if the app terminates. -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.HOME" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>

</manifest>
