# https://home.openweathermap.org/api_keys
openWeatherMapKey=1234567890qwertyuipo

# Twitter keys
twitterConsumerKey=123456789
twitterConsumerSecret=123456789
twitterAccessToken=123456789
twitterAccessTokenSecret=123456789
