:host {
  display: flex;
  flex-direction: row;

  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  .no-project-contributor {
    width: 100%;
    color: white;
    text-align: center;

    img {
      width: 100%;
    }
  }
}
