<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novoda.androidp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".display_cutout.CutoutActivity" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:label="@string/title_activity_notifications"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.novoda.androidp.MainActivity" />
        </activity>

        <service
            android:name=".notifications.NotificationsIntentService"
            android:exported="false" />
        <service
            android:name=".notifications.MyIntentService"
            android:exported="false"></service>
    </application>

</manifest>